#contenedor {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#headercaja {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.headerimagen {
  width: 100%;
}
#nav {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 auto;
}
.navbar {
  width: 100%;
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top:  
  }
  ul li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0 5px 0 5px;
  }

  ul li a {
    text-decoration: none;
    color: black;
  }
.decoration {
  border-right: 1px solid black;
}
#imagegroup {
  width: 80%; 
  margin: 0 auto; 
  padding-top: 5%;
  padding-bottom: 1%;
}
.centerimage {
  width: 100%
}
#description {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  width: 50%;
  margin: 0 auto;
}
#codersgallery {
  width: 80%;
  margin: 0 auto;
}
.separator {
  
}
#bloques {
	width: 100%;
}
.container {
  height: 212px;
  width: 212px;
  position: relative;
  margin: 10px 10px 10px 10px ;
  display: inline-block;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: inline-block;
}
.text {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  left: 100px;
  top: 190px;
}

/* Estilos de coder-detail.html */

.contenedor1 {
  width: 70%;
  margin: 0 auto;
  border: 3px solid gray;
}
.imagecodercaja {
  width: 80%;
  margin: 0 auto;  
}
.coderimage {
  border-radius: 50%;
  margin: 0 auto 0 auto;
  display: block;
  padding-top: 10px;
}
.presentacion {
  width: 80%;
  margin: 0 auto;
}
.presentaciontext {
  width: 100%;
  text-align: center;
}
.habilidades {
  width: 80%;
  margin: 0 auto;
}
.cajahabilidades1 {
  width: 650px;
  height: 40px;
  background-color: gray;
  display: block;
  margin-bottom: 20px;
}
.cajahabilidades2 {
  width: 550px;
  height: 40px;
  background-color: gray;
  display: block;
  margin-bottom: 20px;
}
.cajahabilidades3 {
  width: 250px;
  height: 50px;
  background-color: gray;
  display: block;
  margin-bottom: 20px;
}
.texthabilidades {
  color: #ffffff;
  margin: 5px 5px 5px 5px;
}
.portafolio {
  width: 80%;
  margin: 0 auto;
}
.bloqueport {
  width: 100%;
}
.portimg {
  width:30%; 
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
}
img {
  display: inline-block;
}

