.contenedor {
  width: 70%;
  margin: 0 auto;
}
.headercaja {
  width: 80%;
  margin: 0 auto;

}
.headerimagen {
  width: 100%;
}
.nav {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
}
#imagegroup {
  width: 80%; 
  margin: 0 auto; 
}
.centerimage {
  width: 100%
}
.description {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  width: 50%;
  margin: 0 auto;
}
.codersgallery {
  width: 80%;
  margin: 0 auto;
}
#bloques {
	width: 100%;
}
.container {
  height: 212px;
  width: 212px;
  position: relative;
  margin: 10px 10px 10px 10px ;
  display: inline-block;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: inline-block;
}
.text {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  left: 140px;
  top: 170px;
}